@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: lighter;
  src: url('/fonts/Athiti-Medium.ttf');
  src: local('Athiti'), local('Athiti-Medium'),
       url('/fonts/Athiti-Medium.ttf') format('truetype'),
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Black'), local('Lato-Black'), url(/fonts/Lato.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  background: #fbfaf9;
  background-color: rgba(0,0,0,0.08) !important;
  font: normal 100%/1em 'Athiti', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
    font-family: Lato, sans-serif;
}


.ogCenterIcon{
    height:12px;
    width:12px;
    margin-bottom:-3.5px;
    margin-right:-7.5px;
    bottom:50%;
    right:50%;
    position:absolute
}
.ogHandPoiner{
    cursor:pointer
}
.defaultText{
    position:absolute;
    font:16px;
    font-family:Consolas,monaco,monospace;
    z-index:1000;
    top:0;
    left:0;
    color:#fff
}
#ogShowFpsControl{
    color:red
}
.ogGrabbingPoiner{
    cursor:url(data:text/plain;base64,AAACAAEAICACAAcABQAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8=),default!important
}
.ogViewport{
    width:100%;
    height:100%;
    float:left;
    position:relative;
    background-color:#000;
    -webkit-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -ms-user-select:none;
    overflow:hidden
}

.ogAttribution{
    /* background:hsla(0,0%,100%,.1); */
    text-align:right;
    bottom:1vw;
    right: 1vw;
    padding: 1px;
    position:absolute;
    height:20px;
    font-size: smaller;
}
.ogAttribution img{
    max-height:2em;
    width:auto;
    height:auto;
    max-width:100%;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}
.ogAttribution ul{
    font-size: 1vw;
    color:#000;
    margin:0;
    padding:1px 0;
    line-height:1.375em;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif
}
.ogAttribution li{
    display:inline;
    list-style:none;
    line-height:inherit;
    margin-left:5px;
    margin-right:5px;
    background: rgba(235, 235, 235, 0.7);
}
.ogZoomControl{
    background-clip:padding-box;
    height:70px;
    width:40px;
    box-shadow:0 1px 4px hsla(0,0%,6%,.17);
    z-index:0;
    position:absolute;
    outline:none;
    cursor:pointer;
    bottom:65px;
    right:12px;
    background-color:rgba(64,59,59,.85);
    border-radius:2px
}
.ogZoomButton{
    z-Index:50000;
    width:100%;
    height:50%;
    border:none;
    background-size:15px!important;
    background-position:12px 10px!important;
    cursor:pointer;
    outline:none
}
.ogZoomIn{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAdCAYAAAC5UQwxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAClSURBVEhL7daxDcQwDAPArPYbZFd7kGzzpWIFfiCmSbjIK5WKK0IIYhMB3szsVTSMRMNINIxEQ6XW+iml7HeesVmFhkorOBoDB5tVaKj4cijLwgkNFV8OZVk4GT76nflS5dtgoWds9oJ3OhS2AT9mXPjUfu/Iwn/Qha//NCt9CRbm4Q9oqPhyKMvCCQ0VXw5lsYX9Tq/H0w/e2QoNI9EwEg3j2HYC0DJ34KKb/uIAAAAASUVORK5CYII=) 0 0 no-repeat
}
.ogZoomOut{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAdCAYAAAC5UQwxAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAABxSURBVEhL7dKxDcAgDAVRVssG7GoGyUYO6UC6dD6qFK/ghPgNLTOPwmjCaMJowmjCaMJowmjCaMJowmjaDmOMKyLuSu+b68Y2OC/0KYv1deMfrPA9ePzTnIDRhNGE0YTRhNGE0YTRhNGE0YTRhNGT7QHh3Hk0K/0NYAAAAABJRU5ErkJggg==) 0 0 no-repeat
}
@media (hover:hover){
    .ogZoomIn:hover{
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAJsSURBVEhLxda7ihVBEMbxdb3fQEVEMTFSMTDRSBB8AGONNDY29BkMFd/PQPCCweYyfr9hapjT9roHXM80/GG2Ll/11FT3nr1hGLblxMR+ONnAVv5e7h90jR2q4KlwNpwPFyY8s/HVBnoaG3SNDVX0TLgUroWb4faEZzY+MVsV7xobCJ0Ol8OtcDc8Ck8mPLPxiRErp6c10zUusHPfUDtvhAfhbXgfPk54ZuMTI1bOX9+6a1wg2bfzJnfC0/A5tIuNT4xYOf9UuNp8NdwPz8OX0C42PjFij2x3z2inhZaZ2OvhYXgZvoZ2sfGJESun2l1s1Fn+wWmXErTKrs8F02pwHofX4XtoFxufGLFy5NKgRZP2vIG2qEDD4TtdCXZfk/wsvAk/QrvY+MTUhMulQYtmtX8svizqDAoymYbkXtA6x4WgVr4LP0O72PjEiJUjlwYtmrTnc16FteNicBk4FibUsLwIr4K3IfwpHIR2sfGJEStHLg1aNGmrMU68wjVAbh9tciYdD5NqaL4FrfRWCvwK7WLjEyNWjlwatGjSVkOtfYXtwDewIy1yIRz3oklbjfGCqcIue/euK/BDOO5Fk7Yaaq1feJVWrzZcqx2n1S6QZfGdXplt8Z3+k1jCWdTg2b3WaaWhaRcbnxixcuQutTbqbPzRodq/kx8CS+xUq3wnQ2JCHY92sfGJETtObuhpjnSNCyRrmeEwmY6FM+lC+K8/9lDt9iY14Y6LKxCea5LFHNlmdI0Ndk7IGTStbh+XgXsXntn45nMaelozXWOHKu7bmVjtdNnDMxvfVkXRNR4CwdqAb7ikCm5VdBiGvd+wSIGUtsOkBQAAAABJRU5ErkJggg==) 0 0 no-repeat
    }
}
@media (hover:hover){
    .ogZoomOut:hover{
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAE7SURBVEhLxdXBSgJRGMVx0yxShCiJwI0rBYkM3AW9QVsXok/hc7jsCV0E1kOM5y/duHP5kHGy7w78FvN57znD6IyNoijquEhYa44yhx7MoQdz6MEcejCHHsyhB2uYPirNmtKcUk98EkpaciltufojMsgiM1xMqTiUsvBGenIrd3Iv/ROxh71kkEUm2b/lcSlXyKIHGcpYnuRZpvJSEWvZw14yyCKTbDoO5aGY29GVR5nIm7zLXBaylFVFrGUPe8kgi0yy6aDrUMz9vxZuzUjWspVP2cnXj++Kwnr2kkEWmWTTQVeTYq6A74ArmslGzn2QSTYddLVCcUcG8iofcu6DTLLpoCt/cZZbne3Hle1xyvYCictdX5lpueufRIwPY2yoI80p9ZROPJlDD+bQgzn0YA49mEMP5vD/FY09SuYbVKRjctAAAAAASUVORK5CYII=) 0 0 no-repeat
    }
}

/*
#ogLayerSwitcherButtonMinimize{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAAWUlEQVQ4T7WRwQnAMAwDvf+WhULHcPsSDjkIStyDe0Ry/HG0kplHCiodBZWOYgo+6uBKQWHNVgoqXTHccXg895WO9e8/i07EcMe+q3UsElQ6CiodBZWOjUS8VrAiaVC/GgQAAAAASUVORK5CYII=) 0 0 no-repeat;
    background-size: 100%;
}
#ogLayerSwitcherButtonMaximize{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAAYklEQVQ4T82PwQnAMAwDvf+WhULHcDEkYIGaRIaGHNzDDx3YvnB3qgyLhDIsEpZ57svDdtbZH5r9PwrBFg5CKdRHq+btPyFGH7UTgC0chOXQjFFI4pxQ/j8rwyKhDIuEHLMXAr14nPGmYYMAAAAASUVORK5CYII=) 0 0 no-repeat;
    background-size: 100%;
}
*/

#ogLayerSwitcherDialog{
    overflow:auto;
    height:70%;
    position:absolute;
    bottom:25px;
    top:10%;
    right:0;
    width:17em;
    background-color: rgba(130, 142, 160, 0.3);
    z-index:5000;
    padding:0 0 0 10px;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    border-radius:2px
}
.displayNone{
    display:none
}
.displayBlock{
    display:block
}
.layersDiv{
    margin-left:3px;
    margin-bottom:5px;
    color:#fff;
    font-size:1.2em
}
.ogLayerSwitcherInput{
    cursor:pointer
}
.ogLayerSwitcherLabel{
    font-size:.8em
}
.ogEarthCoordinatesControl{
    color:#fff;
    cursor:pointer;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background-color:rgba(64,59,59,.85);
    bottom:28px;
    right:12px;
    font-size:.9em;
    position:absolute;
    z-index:5000;
    padding:3px 7px;
    border-radius:2px;
    box-shadow:0 1px 4px rgba(64,59,59,.17);
    font-size:14px;
    overflow:hidden;
    text-overflow:clip;
    height:20px
}
.ogConsole{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    max-height:70%;
    overflow:auto;
    font-size:12px;
    font-family:Tahoma;
    background-color:hsla(0,0%,51%,.49);
    color:#fff;
    z-index:100000000
}
.ogConsole-text{
    padding:7px;
    overflow:hidden
}
.ogConsole-error{
    color:red
}
.ogConsole-warning{
    color:#ff0
}
.ogViewExtentBtn{
    float:left;
    width:17px;
    height:17px;
    cursor:pointer;
    -webkit-mask:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEwMDAgMTAwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwMCAxMDAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48bWV0YWRhdGE+IFN2ZyBWZWN0b3IgSWNvbnMgOiBodHRwOi8vd3d3Lm9ubGluZXdlYmZvbnRzLmNvbS9pY29uIDwvbWV0YWRhdGE+PGc+PHBhdGggZD0iTTUwMC4xLDMyMS43Yy05OC40LDAtMTc4LjIsNzkuOC0xNzguMiwxNzguMmMwLDk4LjQsNzkuOCwxNzguMiwxNzguMiwxNzguMmM5OC40LDAsMTc4LjItNzkuOCwxNzguMi0xNzguMkM2NzguMyw0MDEuNSw1OTguNSwzMjEuNyw1MDAuMSwzMjEuN3ogTTg5OC4yLDQ1NS40Yy0yMC41LTE4NS43LTE2OC0zMzMuMS0zNTMuNy0zNTMuN1YxMGgtODkuMXY5MS44Yy0xODUuNywyMC41LTMzMy4xLDE2OC0zNTMuNywzNTMuN0gxMHY4OS4xaDkxLjhjMjAuNSwxODUuNywxNjgsMzMzLjEsMzUzLjcsMzUzLjdWOTkwaDg5LjF2LTkxLjhjMTg1LjctMjAuNSwzMzMuMS0xNjgsMzUzLjctMzUzLjdIOTkwdi04OS4xQzk5MCw0NTUuNCw4OTguMiw0NTUuNCw4OTguMiw0NTUuNHogTTUwMC4xLDgxMS44Yy0xNzIuMiwwLTMxMS44LTEzOS43LTMxMS44LTMxMS44YzAtMTcyLjIsMTM5LjctMzExLjgsMzExLjgtMzExLjhjMTcyLjIsMCwzMTEuOCwxMzkuNywzMTEuOCwzMTEuOEM4MTEuOSw2NzIuMSw2NzIuMiw4MTEuOCw1MDAuMSw4MTEuOHoiLz48L2c+PC9zdmc+);
    -webkit-mask-size:17px;
    background:#d8d8d8;
    margin-top:2px
}
.ogViewExtentBtn:hover{
    background:#fff
}
.og-debug-info{
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    font-family:arial;
    font-size:14px;
    width:250px;
    text-shadow:0 0 3px #616161;
    padding:10px
}
.og-debug-info .og-watch-line{
    width:100%
}
.og-watch-line .og-watch-label{
    float:left;
    width:75%
}
.og-watch-line .og-watch-value{
    float:left;
    width:25%
}


/* WIKISCHOOL CUSTOM CSS */

span#globe {
  width:50%;
  height:100%;
}
span#info_pane {
  position: absolute;
  width:50%;
  height:100%;
}
span#content_pane {
}

div#info {
}

div#conten {
}

.layersDiv {
  text-transform: lowercase;
  font-size: 1.4em;
  font-weight: 600;
  font-family: monospace;
  padding: .5vw;
}

#ogLayerSwitcherDialog {
  width: 12em;
  height: 30%;
}

.ogEarthCoordinatesControl {
  display: none;
}

.ogLayerSwitcherButton {
  width: 3vw;
  height: 3vw;
}

.ogFullscreenButton{
}

h1 {
  text-align: center;
  line-height: 0.4em !important;
}

a {
  text-decoration: none;
  color: #0030d3;
}

a:link:hover,
a:link:focus,
a:link:active,
a:visited:hover,
a:visited:focus,
a:visited:active {
    text-decoration: none;
    border-bottom: none;
    background-color: #88a4ea87;;
}

/*
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 5%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 26px;
}

.icon-bar a:hover {
    background-color: #000;
}
*/

.active {
  background-color: #4CAF50 !important;
}

iframe#myframe {
  display: block;
  height: calc(86vh) !important;
  width: 99%;
  border: 0px solid #fbfaf9;
}

#typeAhead {
  top: 1%;
  left: 2%;
  font-size: 4vw;
  position: absolute;
  z-index: 12000;
  color: black;
  border-radius: 2vw;
}

#goUpButton {
  top: 1%;
  right: 45%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}

#goDownButton {
  top: 1%;
  right: 38%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}


#maximizeWindowButton {
  top: 1%;
  right: 28%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}

#maximizeMapButton {
  top: 1%;
  right: 21%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}

#compassButton {
  top: 1%;
  right: 12%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}

.ogLayerSwitcherButton{
  top: 1%;
  right: 2%;
  font-size: 3vw;
  position: absolute;
  z-index: 12000;
  color: black;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 2vw;
}


nav ul {
  /*background: #E64A19;*/
  background: rgba(230,74,25,30);
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	/*width:170px;*/
	min-width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	
/* Change this in order to change the Dropdown symbol */
li:not(.nps) > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

a.geo-button:hover, div#ogLayerSwitcherButtonMaximize:hover {
  background: rgba(189,206,226,0.6) !important;
}

ul.nps {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: small;
}

li.nps {
  /* font-size: smaller; */
}

li.nps a {
  /* display: inline; */
  display:inline-block;
  width:100%;
  height:100%;
}

div#mycontent {
  display: none;
}

div#progressbar {
  background: #1a7d1a78;
}

.wikischoolAttribution {
    /* background: hsla(0,0%,100%,.1); */
    text-align: right;
    bottom: 1vw;
    left: 1vw;
    padding: 1px;
    position: absolute;
    height: 20px;
    font-size: smaller;
}

.has-warning .twitter-typeahead .tt-hint,.has-warning .twitter-typeahead .tt-input{border-color:#8a6d3b;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-warning .twitter-typeahead .tt-hint:focus,.has-warning .twitter-typeahead .tt-input:focus{border-color:#66512c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}.has-error .twitter-typeahead .tt-hint,.has-error .twitter-typeahead .tt-input{border-color:#a94442;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-error .twitter-typeahead .tt-hint:focus,.has-error .twitter-typeahead .tt-input:focus{border-color:#843534;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}.has-success .twitter-typeahead .tt-hint,.has-success .twitter-typeahead .tt-input{border-color:#3c763d;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}.has-success .twitter-typeahead .tt-hint:focus,.has-success .twitter-typeahead .tt-input:focus{border-color:#2b542c;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}.input-group .twitter-typeahead:first-child .tt-hint,.input-group .twitter-typeahead:first-child .tt-input{border-bottom-left-radius:4px;border-top-left-radius:4px}.input-group .twitter-typeahead:last-child .tt-hint,.input-group .twitter-typeahead:last-child .tt-input{border-bottom-right-radius:4px;border-top-right-radius:4px}.input-group.input-group-sm .twitter-typeahead .tt-hint,.input-group.input-group-sm .twitter-typeahead .tt-input{height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px}select.input-group.input-group-sm .twitter-typeahead .tt-hint,select.input-group.input-group-sm .twitter-typeahead .tt-input{height:30px;line-height:30px}select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint,select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,textarea.input-group.input-group-sm .twitter-typeahead .tt-input{height:auto}.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint,.input-group.input-group-sm .twitter-typeahead:not(:first-child):not(:last-child) .tt-input{border-radius:0}.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint,.input-group.input-group-sm .twitter-typeahead:first-child .tt-input{border-radius:3px 0 0 3px}.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint,.input-group.input-group-sm .twitter-typeahead:last-child .tt-input{border-radius:0 3px 3px 0}.input-group.input-group-lg .twitter-typeahead .tt-hint,.input-group.input-group-lg .twitter-typeahead .tt-input{height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}select.input-group.input-group-lg .twitter-typeahead .tt-hint,select.input-group.input-group-lg .twitter-typeahead .tt-input{height:46px;line-height:46px}select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint,select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,textarea.input-group.input-group-lg .twitter-typeahead .tt-input{height:auto}.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-hint,.input-group.input-group-lg .twitter-typeahead:not(:first-child):not(:last-child) .tt-input{border-radius:0}.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint,.input-group.input-group-lg .twitter-typeahead:first-child .tt-input{border-radius:6px 0 0 6px}.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint,.input-group.input-group-lg .twitter-typeahead:last-child .tt-input{border-radius:0 6px 6px 0}.twitter-typeahead{width:100%}.input-group .twitter-typeahead{display:table-cell!important;float:left}.twitter-typeahead .tt-hint{color:#999}.twitter-typeahead .tt-input{z-index:2}.twitter-typeahead .tt-input[disabled],.twitter-typeahead .tt-input[readonly],fieldset[disabled] .twitter-typeahead .tt-input{cursor:not-allowed;background-color:#eee!important}.tt-dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;min-width:160px;width:100%;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box}.tt-dropdown-menu .tt-suggestion{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.tt-dropdown-menu .tt-suggestion.tt-cursor{text-decoration:none;outline:0;background-color:#f5f5f5;color:#262626}.tt-dropdown-menu .tt-suggestion.tt-cursor a{color:#262626}.tt-dropdown-menu .tt-suggestion p{margin:0}

